/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: rgb(0, 100, 0); /* Dark green */
  --matr-navbar-bg-rgb: 0, 100, 0;
  --matr-navbar-text-color: #ffffff; /* White text for dark background */
  --matr-navbar-highlight-text: rgb(255, 255, 255); /* Black */

  /*Calendar styles*/
  --fc-button-bg-color: rgb(0, 100, 0);
  --fc-button-border-color: rgb(0, 100, 0);
  --fc-button-active-bg-color: rgb(0, 100, 0);
  --fc-button-active-border-color: rgb(0, 100, 0);

  --fc-event-bg-color: rgb(0, 100, 0);
  --fc-event-border-color: rgb(0, 100, 0);
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light,
#signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.white-background {
  background-color: var(--matr-navbar-bg);
  color: var(--matr-navbar-text-color); /* Change to white */
  padding-top: 10px;
  padding-bottom: 20px;
}

footer,
footer a {
  color: var(--matr-navbar-text-color);
}

/* Add background image */
body {
  --bg-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/bg2.jpg");
}

.page-title {
  color: white;
  text-shadow: 2px 1px 2px black;
}

